.image-details
    .modal-content
        border none
        background-color: transparent
    .modal-header
        border-bottom 0
        .close
            padding: 0
            margin: 0
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
            &:hover,&:focus
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
    .modal-body
        width: 80%;
        max-width: 700px;
        margin: auto;
    .modal-footer
        border-top 0
        justify-content: center;

.modal-backdrop.show {
    opacity: .8;
}

modal-container:nth-of-type(2) {
  background: rgba(0, 0, 0, 0.9);
}