<div class="admin-wrapper">
    <app-header></app-header>
  
    <div class="container-fluid">
      <div class="row">  
        <main role="main" class="col-12 px-md-4">
          <div class="alert alert-secondary text-center">
            <h1>Your Projects</h1>
          </div>
          <div class="container row">
            <div class="card-contianer p-0 col-sm-4" *ngFor="let data of userProjects; let i=index">
              <div class="card m-2">
                <div class="card-body">
                  <h5 class="card-title">{{data.name}}</h5>
                  <p class="card-text"><b>Type:</b> {{data.type}}</p>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-sm btn-warning mr-2" (click)="onProjectSelect(data._id)">
                    <span class="fa fa-pencil-square-o"></span>
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteProject(data._id)">
                    <span class="fa fa-trash-o"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-contianer p-0 col-sm-4">
              <div class="addnew-card card m-2">
                <div class="card-body" (click)="createNewProject()">
                  <button class="btn btn-sm btn-danger">
                    <span class="fa fa-plus fa-2x"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>