.admin-wrapper
  height: 100%;
  overflow: auto;

.addnew-card
  border: 2px dashed;
  height: calc(100% - 15px);
  .card-body
    display: flex
    align-items: center;
    justify-content: center;
    cursor pointer
    button
      height: 50px;
      width: 50px;
      padding: 0
      border-radius: 50%