.inventory-card
    &-header
        background-color #eaeef1
        padding 16px
        font-size 36px
        color black
        line-height 36px
        border-bottom 1px solid #a2a5a8
        display flex
        justify-content space-between
        span, ism-text-output,ism-calc-output
            font-family 'OpenSans-Light'
    &-content
        padding 16px